<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="#">Superheroes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
    </div>
</nav>
<main role="main" class="container">
    <div class="jumbotron">
        <h1>Superheroes</h1>
        <p class="lead">Let's get data from somewhere else.</p>
        <div id="app">

            <!-- Button -->
            <button class="btn btn-primary" (click)="search()">Search</button>
            <hr>

            <!-- Heroes list -->
            <ul class="list-group">

                <!-- When no heroes found -->
                <!-- <div v-if="!results.length && !hero.comics.items.length">Results appear here after we click search.</div> -->

                <!-- Heroes list items -->
                <li class="list-group-item" *ngFor="let marvel of marvels">
                    <a>
                        <div class="result" (click)="getSuperHeros(marvel.id)">{{ marvel.name }}</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</main>